<div class="sidebar" ng-if="loggedIn">
    <div class="side-logo">
        <img src="public/images/logo2.png">
    </div>
    <div class="side-greeting"> Welcome <span style="color:#efd62f;">{{ username }}</span>!</div>
    <ul>
        <li class="side-li"><a href="#!/Home">Home</a></li>
        <li class="side-li"><a href="#!/Songs">Songs</a></li>
        <li class="side-li"><a href="#!/Templates">Templates</a></li>
        <li class="side-li"><a href="#!/Generator">PPT Generator</a></li>
        <li class="side-li"><a href="#!/LogOut">Log Out</a></li>
    </ul>
</div>

